
body{
	background-image: url("../images/tackle.jpeg");

    background-attachment: fixed;
    background-position: center;
}
.col-centered{
    		float: none;
    		margin: 0 auto;
		}
#header{
	color: white;
}

#submit{
	color:white;
	background-visibility:;
}

#timer{
	font-size: 45px;
	color: blue;
	text-align: center;
}
#quizQuestions{
	text-align: center;
	font-family: 'Bree Serif', serif;
}
 
 #headerThree{
 	font-family: 'Passion One', cursive;
 }
