
*{
	background-image: url("../images/tackle.jpeg")
}
.col-centered{
    		float: none;
    		margin: 0 auto;
		}
#header{
	color: white;
}



#timer{
	font-size: 45px;
	color: blue;
	text-align: center;
}